*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    background-color: pink;
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
}
article h3{
    background-color: red;
    font-size: 1.5rem;
    text-align: center;
    position: sticky;
    padding: 5px;
    top: 0px;
    
}
p{
    text-align: justify;
   padding: 5px;
}